<%provide(:title,"About")%>
<h1>关于荧光颗粒计数平台</h1>
	<p>
		<a href="https://github.com/lvyifanlvlv/PointCounter"><em>荧光颗粒计数平台 </em></a> 是闾一帆、牛海行和吴彦璋三个人的期末大作业。
		
		<br>This is the point counter application for the final work.
	</p>


