<%provide(:title,"Help")%>
<h1>帮助</h1>
	<p>
		如果需要帮助，请通过访问我们的
		  <a href="https://github.com/lvyifanlvlv/PointCounter"> github地址</a>在里面留言来联系我们.
		  <br>
		  或者发送邮件到我的邮箱：<a hred="niuhaihang@mails.ucas.ac.cn">niuhaihang18@mails.ucas.ac.cn</a>.
		

	</p>


