<footer class="footer">
  <small>
    <a href="https://github.com/lvyifanlvlv/PointCounter">荧光颗粒计数平台 </a>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于荧光颗粒计数平台",   about_path %></li>
      <li><%= link_to "联系我们", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">新闻</a></li>
    </ul>
  </nav>
</footer>